body{
    background-image: url("https://cdn.pixabay.com/photo/2013/02/21/19/10/grass-84622__340.jpg");
}
.navlist{
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    margin: 0%;  
   
}
.nav_content{
    background-color: rgb(15, 90, 78);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
   
}
.nav_content h1{
    padding-left: 10px;
    margin: 0%;
    font-size: 35px;
}
li{
    list-style: none;
    display: inline-block;
    
    
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}
.container{
    
    max-width: 340px;
    height: 300px;
    display: grid;
    grid-template-columns: (auto-fit,minmax(340,1fr));
    box-shadow: 10px 10px 10px #888888;
    border-radius: 10px;
    background-color:white;
}
.container img{
    border-radius: 10px;
}
.head_content{
  position: relative; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  
    padding-top: 20px;
}
.head_content img{
    border-radius: 60px;
   
}

.container:hover{
    box-shadow: 10px 10px 10px blueviolet;;
}
.nav_content a{
    float: right;
  display: block;
  color: rgb(27, 214, 111);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
   
}
.nav_content a:hover{
    background-color: #2196F3;
    color: rgb(236, 230, 230);
}

.sample button img{
   width: 40px;
}
.sample button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
 }
 .sample button:hover{
    cursor: pointer;

 }
.sample input{
    
 background: transparent;
 flex: 1;
 border: 0;
 outline: none;
 padding: 24px 20px;
 color: rgb(248, 244, 244);
 font-size: 17px;
    
}
form.sample{
    position: absolute;
    top: 45%;
    right: 23%;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 60px;
    background-color: rgba(22, 187, 96, 0.2);
}




